<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game-Yap</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
   <nav class="header p-4">
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="text-2xl font-semibold"><a href="/">Game-Yap</a></h1>
            <div class="flex items-center space-x-4">
                <span class="inline-text"><a href="/">Home</a></span>
                {{#if loggedIn}}
                <span class="inline-text"><button id="logout" class="bg-transparent border border-white py-2 px-4 rounded-full text-white">Logout</button></span>
                {{else}}
                <span class="inline-text"><a href="/login">Login</a></span>
                {{/if}}
            </div>
        </div>
    </nav>

  <main class="main-content">
    {{{body}}}
  </main>
<script>
const apiKey = 'b3d2efbca2944890ac6a6b0958f57aea';
let page = 1;
const pageSize = 10;

function fetchGames() {
    const apiUrl = `https://api.rawg.io/api/games?key=${apiKey}&ordering=-rating,-released&page=${page}&page_size=${pageSize}`;

    fetch(apiUrl)
        .then((response) => response.json())
        .then((data) => {
            const gameCardsContainer = document.getElementById('gameCards');

            data.results.forEach((game) => {
                if (game.background_image) {
                    const gameCard = document.createElement('div');
                    gameCard.className = 'game-card';

                    const gameImage = document.createElement('img');
                    gameImage.className = 'game-image';
                    gameImage.src = game.background_image;
                    gameImage.alt = game.name;

                    const gameDetails = document.createElement('div');
                    gameDetails.className = 'game-details';

                    const gameTitle = document.createElement('h3');
                    gameTitle.className = 'game-title text-center';
                    gameTitle.textContent = game.name;

                    gameCard.appendChild(gameImage);
                    gameCard.appendChild(gameDetails);
                    gameDetails.appendChild(gameTitle);

                    gameCardsContainer.appendChild(gameCard);
                }
            });

            page++;
        })
        .catch((error) => {
            console.error('Error fetching game data:', error);
        });
}

let lastScrollY = window.scrollY;

window.addEventListener('scroll', () => {
    const currentScrollY = window.scrollY;
    const windowHeight = window.innerHeight;

    if (currentScrollY > lastScrollY && currentScrollY + windowHeight >= document.body.offsetHeight - 100) {
        fetchGames();
    }

    lastScrollY = currentScrollY;
});

fetchGames();

</script>
<script src="/js/logout.js"></script>



  

</html>