<main class="flex flex-col items-center justify-center">
    <article class="text-center">
         <div class="game-image-container" style="height: 800px; overflow: hidden;">
            <img src="{{ gameImage }}" alt="{{ gameTitle }}" class="game-image" style="width: 100%; height: 100%; object-fit: cover;">
        </div>

        <h2 class="text-white">{{ gameTitle }}</h2>
        <!-- Display Game Summary with smaller font size -->
        <div class="game-summary text-white">
            <h3 class="text-white">Summary</h3>
           <p class="text-white text-sm">{{{ gameSummary }}}</p>
        </div>
    </article>
</main>