<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css" rel="stylesheet">
	<title>User Profile</title>
</head>
<body>
  <div class="flex justify-center items-center h-screen">
    <div class="bg-white p-8 rounded-lg w-1/2 h-1/2 shadow-md max-w-md">
      <img src="/images/pfp.png" alt="User Profile Image" class="w-50 h-50 mx-auto rounded-full">
      <h1 class="text-3xl font-semibold text-center mt-4">{{user.username}}</h1>
      
      <ul class="mt-6">
        <!-- Display other user profile information here -->
      </ul>
    </div>
  </div>
</body>

</html>
