<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
	<title></title>
</head>
<body>
    <div class="flex flex-col items-center justify-center h-screen px-6 py-8 mx-auto md:py-0">
      <div class="flex items-center mt-10">
        <img style="width: 250px; height: 250px;" src="/images/logo.png" alt="gameyap">
      </div>
      <div class="w-full bg-opacity-50 rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-opacity-50" style="background-color: rgba(21, 21, 21, 0.5);">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1 class="text-xl font-bold leading-tight tracking-tight text-black md:text-2xl dark:text-white text-center" style="color: #3949AB;">
            Registration Completed
          </h1>
          <p class="text-lg font-medium text-primary-600 dark:text-primary-500 text-center" style="color: #3949AB;">
            Thank you for registering. Your account has been created successfully.
          </p>
          <a href="/login" class="w-full text-black bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-4 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" style="background-color: #3949AB; color: white;">Log In</a>
        </div>
      </div>
    </div>
  </body>
</html>
