<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="flex flex-col items-center justify-center h-screen px-6 py-8 mx-auto md:py-0">

     <div class="flex items-center mt-30">
        <img  style="width: 250px; height: 250px;" src="/images/logo.png" alt="gameyap">
      </div>
      <div class="w-full bg-opacity-50 rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-opacity-50" style="background-color: rgba(21, 21, 21, 0.5);">

        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1 class="text-xl font-bold leading-tight tracking-tight text-black md:text-2xl dark:text-white text-center "style="color: #3949AB;">
            Create an account
          </h1>
          <form class="space-y-4 md:space-y-6" action="/register" method="POST">
            <div>
            <div id="error-message" class="text-red-500 mt-2 text-center"></div>
              <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white "style="color: #3949AB;">Username</label>
              <input
                type="text"
                name="username"
                id="username"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Your username"
                required
              />
            </div>
            <div>
              <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white "style="color: #3949AB;">Password</label>
              <input
                type="password"
                name="password"
                id="password"
                placeholder="••••••••"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required
              />
            </div>
            <div>
              <label for="confirm-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white "style="color: #3949AB;">Confirm password</label>
              <input
                type="password"
                name="confirm-password"
                id="confirm-password"
                placeholder="••••••••"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required
              />
            </div>
            <button
              type="submit"
              class="w-full text-black bg-primary-600 hover:bg-primary-700 focus:ring-4
                focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-xl 
                px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700
                dark:focus:ring-primary-800 "style="background-color: #3949AB; color: white;">Register</button>
            <p class="text-sm font-light text-gray-500 dark:text-gray-400">
              Already have an account? <a href="/login" class="font-medium text-primary-600 hover:underline dark:text-primary-500 "style="color: #3949AB;">Login here</a>
            </p>
          </form>
        </div>
      </div>
    </div>
      <script>
    document.addEventListener('DOMContentLoaded', () => {
      const errorMessage = document.getElementById('error-message');
      if (errorMessage.textContent.trim() !== '') {
        errorMessage.style.display = 'block';
      }
    });
  </script>
  </body>
</html>
