html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(to bottom, #1c0f43, black);
  background-color: #1c0f43;
  font-size: 27px;
  font-weight: 700;
}
.header {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: rgb(0, 0, 0);
}
nav{
  font-family: 'Audiowide', sans-serif;
  
}
 
.game-card {
  background-color: #1e1e1e;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  width: 300px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.game-card:hover {
  transform: scale(1.1);
}
.game-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.game-details {
  padding: 12px;
}
.game-title {
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}
.text-center {
  text-align: center;
}
.search-bar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  width: 100%;
  max-width: 1000px;
  border: none;
  border-radius: 20px;
  font-size: 20px;
}
.search-bar::placeholder {
  color: #bbb;
}
#bg-video {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 125%;
  object-fit: cover;
  z-index: -1;
}
a {
  color: inherit;
  text-decoration: none;
}
a {
  background: linear-gradient( to right, rgba(0, 0, 0, 0),  
  rgba(0, 0, 0, 0)), linear-gradient( to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgb(255, 0, 132), rgb(79 70 229));
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s;
}
a:hover {
  background-size: 0 3px, 100% 3px;
}
.game-rating {
  display: flex;
  justify-content: center;
  gap: 3px;
  padding-bottom: 5px;
}
.expand-on-hover {
  transition: transform 0.3s; 
}
.expand-on-hover:hover {
  transform: scale(1.1); 
}

@media (max-width: 380px) {
  body {
    background: linear-gradient(to bottom, #1c0f43, black);
    background-color: #1c0f43;
    font-size: 18px;
    font-weight: 700;
  }
  .text-6xl {
    font-size: 1.5em !important;
    line-height: 1;
}
}
@media (max-width:280px) {
  body {
    background: linear-gradient(to bottom, #1c0f43, black);
    background-color: #1c0f43;
    font-size: 14px;
    font-weight: 700;
  }
  .text-6xl {
    font-size: 1.5em !important;
    line-height: 1;
}
}

.white-icon {
  color: white;
}