 
        body {
            background-color: #151515;
          
        }

        .header {
            background-color: #151515;
            color: rgba(255, 255, 255);
        }

        .game-card {
            background-color: #1e1e1e;
            border-radius: 10px;
            overflow: hidden;
            margin: 10px;
            width: 300px;
            cursor: pointer;
            transition: transform 0.2s ease;
        }

        .game-card:hover {
            transform: scale(1.1);
        }

        .game-image {
            width: 100%;
            height: 180px;
            object-fit: cover;
        }

        .game-details {
            padding: 12px;
        }

        .game-title {
            color: white;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 8px;
        }

        .text-center {
            text-align: center;
        }

        .search-bar {
            background-color: #333;
            color: #fff;
            padding: 10px;
            width: 100%;
            max-width: 1000px;
            border: none;
            border-radius: 20px;
            font-size: 20px;
        }

        .search-bar::placeholder {
            color: #bbb;
        }

        .main-content {
            position: relative;  
            height: 600px;
        }
        
        #bg-video {
            position: absolute;
            bottom: 0; /* Position from the bottom of the container */
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }
        @media (min-width: 1188px) {
            #bg-video {
                bottom: 0; /* Adjust the value as needed to move the video up */
            }
            .main-content {
                position: relative;  
                height: 1000px;
            }
        }
     